<div class="replay">

  <div class="item">
    <span>BRASIL X SÉRVIA</span>
    <iframe frameborder="1"
      src="https://www.youtube.com/embed/_VCSlZ2n42o">
    </iframe>
  </div>
  
  <div class="item">
    <span>BRASIL X SUÍÇA</span>
    <iframe  frameborder="1"
      src="https://www.youtube.com/embed/Ii0wRiTRKOU">
    </iframe>
  </div>
  
  <div class="item">
    <span>BRASIL X CAMARÕES</span>
    <iframe  frameborder="1"
      src="https://www.youtube.com/embed/1m8tGLpOeto">
    </iframe>
  </div>

  <div class="item">
    <span>BRASIL X CORÉIA DO SUL</span>
    <iframe  frameborder="1"
      src="https://www.youtube.com/embed/adjw21zOaFA">
    </iframe>
  </div>

  <div class="item">
    <span>BRASIL X CROÁCIA</span>
    <iframe  frameborder="1"
      src="https://www.youtube.com/embed/UB7Qsy-w_Fc">
    </iframe>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Fechar</button>
  </div>
</div>