<div class="info">
  <ol class="ordered-list"><li>Alisson</li><li>Danilo</li><li>Thiago Silva</li><li>Marquinhos</li><li>Casemiro</li><li>Alex Sandro</li><li>Lucas Paquetá</li><li>Fred</li><li>Richarlison</li><li>Neymar</li><li>Raphinha</li><li>Weverton</li><li>Dani Alves</li><li>Eder Militão</li><li>Fabinho</li><li>Alex Telles</li><li>Bruno Guimarães</li><li>Antony</li><li>Gabriel Jesus</li><li>Vinicius Jr.</li><li>Rodrygo</li><li>Bremer</li><li>Ederson</li><li>Gabriel Martinelli</li><li>Pedro</li><li>Everton Ribeiro</li></ol>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Fechar</button>
  </div>
</div>