<div class="about">

  <ul>
    <li>Brasil x Sérvia – quinta-feira, 24 de novembro às 16h (horário de Brasília);</li>
    <li>Brasil x Suíça – segunda-feira, 28 de novembro às 13h (horário de Brasília);</li>
    <li>Brasil x Camarões – sexta-feira, 2 de dezembro às 16h (horário de Brasília).</li>
    <li>Brasil x Coréia do Sul – sgunda-feira, 5 de dezembro às 16h (horário de Brasília).</li>
    <li>Brasil x Croácia – sexta-feira, 9 de dezembro às 12h (horário de Brasília).</li>
  </ul>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Fechar</button>
  </div>
</div>